<h1>Subreddits</h1>

<ul>
  <li>
    {{#link-to 'ember'}}Ember{{/link-to}}
  </li>
  {{!-- <li>
    {{#link-to 'javascript'}}Javascript{{/link-to}}
  </li>
  <li>
    {{#link-to 'hearthstone'}}Hearthstone{{/link-to}}
  </li>
  <li>
    {{#link-to 'funny'}}Funny{{/link-to}}
  </li>
  <li>
    {{#link-to 'whatever'}}Whatever{{/link-to}}
  </li> --}}
</ul>

{{outlet}}
